.editLabelModal {
	color:#fff !important;
}
li.active a {
	background:#be7d00 !important;
}
textarea {
	width:100% !important;
	text-align: left;
}
.mainwrapper,
.maincontent,
.maincontentinner,
#calendar,
.fc-content,
.fc-view,
table {
	height:80%;
}
.footer {
	background: #efefef;
	position: fixed;
	bottom: 0px;
	width: 100%;
}
.widgetcontent {
border:1px solid #cccccc;
}
.maincontentinner .subtitle {
	color: #4e4e4e;
	font-weight: 600;
}
.green {
	background-color: #fff;
	color:#66a34e;
	font-size:1rem;
}