.editLabelModal {
	color:#fff !important;
}
li.active a {
	background:#be7d00 !important;
}
textarea {
	width:100% !important;
	text-align: left;
}
.mainwrapper,
.maincontent,
.maincontentinner,
#calendar,
.fc-content,
.fc-view,
table {
	height:80%;
}